<ion-toolbar style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
  <ion-title style="font-size: 16px;">Enter Group Password</ion-title>
  <ion-buttons slot="primary">
    <ion-button (click)="onCancel()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content padding>
<ion-list lines="full">
  <ion-item>
    <ion-input style="font-size: 13px;" required type="password" placeholder="Password" [(ngModel)]="enterPwd"></ion-input>
  </ion-item>
</ion-list>
<ion-button expand="block" color="tertiary" style="font-size: 12px; margin-left: auto; margin-right: auto; margin-top: 10px;" (click)="enterGroup()">Enter Group</ion-button>
</ion-content>