<ion-toolbar style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
  <ion-title style="font-size: 16px;">Reimbursed</ion-title>
  <ion-buttons slot="primary">
    <ion-button (click)="onCancel()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-sm="3">
        <div text-center *ngIf="selectedOrgs.history.length === 0" style="margin-left: auto; margin-right: auto; margin-top: 50%;">
          <p style="font-size: 14px; color: #989aa2;">Reimbursed is empty</p>
        </div>
        <div *ngIf="selectedOrgs.history.length > 0">
          <ion-list *ngFor="let org of selectedOrgs.history">
            <ion-card style="border-radius: 20px;" text-center>
              <ion-card-header>
                <ion-card-subtitle style="font-size: 12px;">{{ org.date }}</ion-card-subtitle>
                <ion-card-title style="font-size: 16px;">{{ org.name }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-icon name="pricetag" slot="start" style="color: #00E676;"></ion-icon>
                <ion-label style="font-size: 15px; color: #00E676;"> +{{ org.total | currency : "Rp"}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>