<ion-toolbar style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
  <ion-title style="font-size: 16px;">Reimbursed</ion-title>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/organisasi"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-sm="3">
        <div text-center *ngIf="!loadedHist" style="margin-left: auto; margin-right: auto; margin-top: 50%;">
          <p style="font-size: 14px; color: #989aa2;">Reimbursed is empty</p>
        </div>
        <div *ngIf="loadedHist">
          <ion-list>
            <ion-list-header>
              REIMBURSED
            </ion-list-header>
            <ion-card style="border-radius: 5px;" text-center *ngFor="let history of loadedHist">
              <ion-card-content>
                <ion-label style="font-size: 12px;">{{ history.histDate.toDate() | date: 'dd MMMM yyyy' }}</ion-label>
                <br>
                <ion-label style="font-size: 13px;"><b>{{ history.histName }}</b></ion-label>
                <br>
                <ion-label style="font-size: 13px;">{{ history.histUser }}</ion-label>
                <br>
                <ion-label style="font-size: 12px;">{{ history.histEmail }} </ion-label>
                <br>
                <ion-icon name="pricetag" slot="start" style="color: #00E676;"></ion-icon>
                <ion-label style="font-size: 13px; color: #00E676;"> +{{ history.histTotal | currency : "Rp"}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>