<ion-toolbar style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; background-color: #F38E8F;">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/organisasi"></ion-back-button>
  </ion-buttons>
  <ion-title style="font-size: 16px;">{{ loadedOrgs.name }}</ion-title>  
  <ion-icon slot="end" name="paper" class="iconSize" (click)="histOnClick(outcome2)"></ion-icon>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <div text-center *ngIf="!outcome2 || outcome2.length == 0" style="margin-left: auto; margin-right: auto; margin-top: 50%; margin-bottom: 50%;">
          <p style="font-size: 14px; color: #989aa2;">Group is empty</p>
        </div>
        <div *ngIf="outcome2">
          <ion-list lines="none" *ngFor="let oc of outcome2">
            <ion-card style="border-radius: 10px;" (click)="outcomeDetail(oc)">
              <ion-card-header>
                <ion-card-subtitle>{{ oc.name }}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <div>{{ cekUser() }}</div>
    </ion-row> -->
  </ion-grid>
</ion-content>

<ion-footer>
  <div *ngIf="tombolAdd == true">
    <ion-button expand="block" (click)="addUserOnClick()">Add</ion-button>
  </div>
  <div *ngIf="tombolAdd == false"></div>
</ion-footer>