<ion-toolbar style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
  <ion-title style="font-size: 16px;">Create Group</ion-title>
  <ion-buttons slot="primary">
    <ion-button (click)="onCancel()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onCreateGroup(f)">
    <ion-item>
      <ion-input style="font-size: 13px;" required type="text" placeholder="Group Name" [(ngModel)]="selectedOrgs.name" name="orgName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input style="font-size: 13px;" required type="password" placeholder="Password" [(ngModel)]="selectedOrgs.password" name="orgPwd" minLength="4"></ion-input>
    </ion-item>
    <ion-button [disabled]="!f.valid" type="submit" color="tertiary" style="font-size: 12px; margin-left: auto; margin-right: auto; margin-top: 10px;" expand="block">Add</ion-button>
  </form>
</ion-content>

<ion-footer>
  
</ion-footer>