<ion-toolbar style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
  <ion-buttons slot="start">
    <ion-menu-button menu="m1"></ion-menu-button>
  </ion-buttons>
  <ion-title style="font-size: 16px;">PROFILE</ion-title>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center>
        <ion-thumbnail style="width: 100px; height: 100px; margin-left: auto; margin-right: auto; margin-top: 7%;">
          <img src="./assets/icon/rimburze_logo.png">
        </ion-thumbnail>
        <ion-card-header>
          <ion-card-subtitle> {{ user.email }} </ion-card-subtitle>
          <ion-card-title> {{ user.displayName }} </ion-card-title>
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
