<ion-toolbar style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; background-color: #F38E8F;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/organisasi"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 16px;">{{ loadedOutcome.name }}</ion-title>  
  
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm=2 text-center>
        <div style="margin-top: 12%; margin-bottom: 5%;">
          <ion-label color="danger" style="font-size: 15px;"><b>-{{ getTotalPrice() | currency : "Rp"}}</b></ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="loadedObj">
          <ion-list>
            <ion-list-header>
              EXPENSES
            </ion-list-header>
            <ion-item-sliding *ngFor="let obj of loadedObj">
              <ion-item>
                <ion-icon slot="start" name="arrow-dropleft" size="small" color="danger" style="margin-left: -2%; margin-right: 4%;"></ion-icon>
                <ion-label>
                  <p style="font-size: 12px;"><b>{{ obj.objName }}</b></p>
                  <p style="font-size: 12px;">{{ obj.date.toDate() | date: 'dd MMMM yyyy'}}</p>
                </ion-label>
                <ion-label>
                    <p style="font-size: 12px; float: right;"><span style="font-size: 18px; color: #fa4678;">-</span><b>{{ obj.price | currency : "Rp"}}</b></p>
                </ion-label>
              </ion-item>
  
              <ion-item-options side="end">
                <ion-item-option color="light">
                  <ion-icon size="small" name="close" slot="icon-only" color="danger"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<div *ngIf="tombol == true">
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="tertiary">
        <ion-icon name="arrow-dropup"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="tertiary" (click)="addOnClick()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="tertiary">
            <ion-icon name="done-all" (click)="doneOnClick()"></ion-icon>
          </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
  <div *ngIf="tombol == false">
    
  </div>