<ion-toolbar style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
  <ion-title style="font-size: 16px;">Sign Up</ion-title>
  <ion-buttons slot="primary">
    <ion-button (click)="onCancel()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSignUp(f)">
    <ion-item style="width: 250px; margin-left: auto; margin-right: auto; margin-top: 5%;">
      <ion-label style="font-size: 12px;" position="floating">name</ion-label>
      <ion-input style="font-size: 12px;"
        required
        [(ngModel)]="selectedUser.name"
        name="name"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-item style="width: 250px; margin-left: auto; margin-right: auto;">
      <ion-label style="font-size: 12px;" position="floating">email</ion-label>
      <ion-input style="font-size: 12px;"
        required
        [(ngModel)]="selectedUser.email"
        name="email"
        type="email"
      ></ion-input>
    </ion-item>
    <ion-item style="width: 250px; margin-left: auto; margin-right: auto;">
      <ion-label style="font-size: 12px;" position="floating">password</ion-label>
      <ion-input style="font-size: 12px;"
        required
        ngModel
        name="pwd"
        type="password"
        minlength="6"
      ></ion-input>
    </ion-item>
    <ion-item style="width: 250px; margin-left: auto; margin-right: auto;">
      <ion-label style="font-size: 12px;" position="floating">confirm password</ion-label>
      <ion-input style="font-size: 12px;"
        required
        ngModel
        name="confirmPwd"
        type="password"
        minlength="6"
      ></ion-input>
    </ion-item>
    <ion-button [disabled]="!f.valid" type="submit" color="tertiary" style="font-size: 11px; width: 250px; margin-left: auto; margin-right: auto; margin-top: 10px;" expand="block" >Sign Up</ion-button>
  </form>
</ion-content>